
/bin/YAGF.swf
/bin/expressInstall.swf
/bin/index.html
/bin/js/swfobject.js
/obj/YAGFConfig.old
/obj/YAGFConfig.xml
/bin/YAGF.flash.swc
/bin/YAGF.swc
/obj/YAGF.flash.compc.xml
/obj/YAGF.flex.compc.xml